--
-- PostgreSQL database dump
--

\restrict cF0nLZ0jBedJBcaK1U4UDc15jUA29VcxYtgmPvG0eI5a0o8n9fbLFke9cIDjMaF

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: frescoo_admin
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO frescoo_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: frescoo_admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO frescoo_admin;

--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: frescoo_admin
--

CREATE TABLE public.ingredients (
    id text NOT NULL,
    name text NOT NULL,
    "pricePerUnit" double precision NOT NULL,
    category text,
    unit text DEFAULT 'kg'::text NOT NULL,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdById" text,
    "updatedById" text,
    "caloriesPerUnit" double precision,
    "carbsPerUnit" double precision,
    "fatPerUnit" double precision,
    "proteinPerUnit" double precision
);


ALTER TABLE public.ingredients OWNER TO frescoo_admin;

--
-- Name: recipe_ingredients; Type: TABLE; Schema: public; Owner: frescoo_admin
--

CREATE TABLE public.recipe_ingredients (
    id text NOT NULL,
    "recipeId" text NOT NULL,
    "ingredientId" text NOT NULL,
    quantity double precision NOT NULL,
    "unitPrice" double precision NOT NULL,
    "calculatedCost" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.recipe_ingredients OWNER TO frescoo_admin;

--
-- Name: recipes; Type: TABLE; Schema: public; Owner: frescoo_admin
--

CREATE TABLE public.recipes (
    id text NOT NULL,
    name text NOT NULL,
    "totalCost" double precision DEFAULT 0 NOT NULL,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdById" text,
    "updatedById" text,
    "totalCalories" double precision DEFAULT 0 NOT NULL,
    "totalCarbs" double precision DEFAULT 0 NOT NULL,
    "totalFat" double precision DEFAULT 0 NOT NULL,
    "totalProtein" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public.recipes OWNER TO frescoo_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: frescoo_admin
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    image text,
    role public."Role" DEFAULT 'ADMIN'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO frescoo_admin;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: frescoo_admin
--



--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: frescoo_admin
--



--
-- Data for Name: recipe_ingredients; Type: TABLE DATA; Schema: public; Owner: frescoo_admin
--



--
-- Data for Name: recipes; Type: TABLE DATA; Schema: public; Owner: frescoo_admin
--

COPY public.recipes (id, name, "totalCost", notes, "isActive", "createdAt", "updatedAt", "createdById", "updatedById", "totalCalories", "totalCarbs", "totalFat", "totalProtein") FROM stdin;
3767004144	Test Recipe	550	Test Recipe - Vishnu	t	2026-06-07 20:27:13.722	2026-06-07 20:31:27.513	\N	\N	0	0	0	0
1001528943	Test Chicken	205	\N	t	2026-06-26 16:56:10.15	2026-06-26 16:56:10.15	\N	\N	1056.7	33.25	69.15	140.85
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: frescoo_admin
--

COPY public.users (id, email, name, image, role, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: recipe_ingredients recipe_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT recipe_ingredients_pkey PRIMARY KEY (id);


--
-- Name: recipes recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT recipes_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ingredients_category_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX ingredients_category_idx ON public.ingredients USING btree (category);


--
-- Name: ingredients_isActive_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX "ingredients_isActive_idx" ON public.ingredients USING btree ("isActive");


--
-- Name: ingredients_name_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX ingredients_name_idx ON public.ingredients USING btree (name);


--
-- Name: ingredients_name_key; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE UNIQUE INDEX ingredients_name_key ON public.ingredients USING btree (name);


--
-- Name: recipe_ingredients_ingredientId_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX "recipe_ingredients_ingredientId_idx" ON public.recipe_ingredients USING btree ("ingredientId");


--
-- Name: recipe_ingredients_recipeId_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX "recipe_ingredients_recipeId_idx" ON public.recipe_ingredients USING btree ("recipeId");


--
-- Name: recipe_ingredients_recipeId_ingredientId_key; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE UNIQUE INDEX "recipe_ingredients_recipeId_ingredientId_key" ON public.recipe_ingredients USING btree ("recipeId", "ingredientId");


--
-- Name: recipes_createdAt_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX "recipes_createdAt_idx" ON public.recipes USING btree ("createdAt");


--
-- Name: recipes_isActive_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX "recipes_isActive_idx" ON public.recipes USING btree ("isActive");


--
-- Name: recipes_name_idx; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE INDEX recipes_name_idx ON public.recipes USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: frescoo_admin
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: ingredients ingredients_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT "ingredients_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ingredients ingredients_updatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT "ingredients_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: recipe_ingredients recipe_ingredients_ingredientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT "recipe_ingredients_ingredientId_fkey" FOREIGN KEY ("ingredientId") REFERENCES public.ingredients(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: recipe_ingredients recipe_ingredients_recipeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.recipe_ingredients
    ADD CONSTRAINT "recipe_ingredients_recipeId_fkey" FOREIGN KEY ("recipeId") REFERENCES public.recipes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: recipes recipes_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT "recipes_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: recipes recipes_updatedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: frescoo_admin
--

ALTER TABLE ONLY public.recipes
    ADD CONSTRAINT "recipes_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict cF0nLZ0jBedJBcaK1U4UDc15jUA29VcxYtgmPvG0eI5a0o8n9fbLFke9cIDjMaF

